@font-face {
    font-family: "Russo One";
    src: url("fonts/RussoOne-Regular.woff"),
	     url("fonts/RussoOne-Regular.ttf");
}
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}
h1 {
    font-family: "Russo One", sans-serif;
    font-size: 220%;
}
h2 {
    font-size: 130%;
    font-weight: normal;
}