@font-face {
    font-family: "Russo One";
    src: url("fonts/RussoOne-Regular.woff"),
	     url("fonts/RussoOne-Regular.ttf");
}
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
}
h1 {
    font-family: "Russo One", sans-serif;
}